.listt{
    width: 100%;
    position: absolute;
    left: 0;
    background:#fff;
    color:#080710;
    box-shadow: 0 -5px 10pxrgba(e, 0, 0, 0.1);
    transition: all 0.2s ease-out;
    border-radius: 10px;
    z-index:10;
}
.listt.show{
    bottom:0;
    height:100%
}
.listt .header{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
}
.listt .header i{
    font-size: 1rem;
  }
.listt .header > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.listt .header >div span{
    font-size:1.25rem;
    text-transform:capitalize;
    color:#f8f8f8;
}
.title {
    text-align: center;
}
.noidung {
    overflow-y: scroll;
    height: 100%;
    padding: 10px 10px;
    text-align: justify;
}

