.listt{
    width: 100%;
    position: absolute;
    bottom: -160%;
    left: 0;
    background:#fff;
    color:#080710;
    box-shadow: 0 -5px 10pxrgba(e, 0, 0, 0.1);
    transition: all 0.2s ease-out;
    border-radius: 10px;
}
.listt.show{
    bottom:0;
    height:100%
}
.listt .header{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
}
.listt .header i{
    font-size: 1rem;
  }
.listt .header > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.listt .header >div span{
    font-size:1.25rem;
    text-transform:capitalize;
    color:#f8f8f8;
}
.title {
    text-align: center;
}
.home-page-content{
    background-color:#170f23;
}
.music-gallery {  
    display: flex;  
    flex-wrap: nowrap; /* Không cho phép bọc xuống dòng */  
    gap: 16px; /* Khoảng cách giữa các thẻ */  
    padding: 20px;  
    overflow-x: auto; /* Hiển thị thanh cuộn ngang khi vượt quá kích thước */  
    white-space: nowrap; /* Giữ nội dung trên cùng một dòng */  
}
.zm-section-title.title{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title.is-2 {
    font-size: 20px;
}
.music-card {  
    flex: 0 0 auto; /* Đảm bảo các thẻ không co giãn */  
    background-color: #5a5a5a; /* Màu nền thẻ */  
    border-radius: 8px;  
    overflow: hidden;  
    width: 120px;
    height: 200px;
    color: white; /* Màu chữ */  
    text-align: center;  
    position: relative;  
}
.music-border{
    flex: 0 0 auto; /* Đảm bảo các thẻ không co giãn */  
    background-color: #5a5a5a; /* Màu nền thẻ */  
    border-radius: 50%;  
    overflow: hidden;  
    width: 120px;
    color: white; /* Màu chữ */  
    text-align: center;  
    position: relative;  
}
  .music-image {  
    width: 100%; /* Full width of the card */  
    height: 120px;  
    border-bottom: 4px solid #ff4081; /* Decorative bottom border */  
  }  
  
  .music-title {  
    padding: 10px;  
    font-size: 16px; /* Adjust font size as needed */  
    font-weight: bold;
    word-wrap: break-word;
  }  
  
  .music-card:hover {  
    transform: scale(1.05); /* Slight grow effect on hover */  
    transition: transform 0.2s;  
  }  


  .recommendation-container {  
    background-color: #170f23;
    color: white;    
    margin: auto;
    text-align:center;
    padding:5px 5px;

  }  
  
  .recommendation-list {  
    display: flex;  
    flex-direction: column;  
    gap: 15px; /* Khoảng cách giữa các item */  
  }  
  
  .recommendation-item {  
    display: flex;  
    align-items: center;  
    background-color: #3a3a3a;  
    padding: 10px;  
    border-radius: 8px;  
  }
  .h2{font-size: 1.1em;
}  
  
  .recommendation-item img {  
    width: 60px; /* Độ rộng hình ảnh */  
    height: 60px; /* Độ cao hình ảnh */  
    border-radius: 5px; /* Bo góc hình ảnh */  
    margin-right: 10px;   
  }  
  
  .recommendation-info h3 {  
    margin: 0;  
    font-size: 1.1em; /* Kích thước tiêu đề */  
  }  
  
  .recommendation-info p {  
    margin: 0;  
    color: #b3b3b3; /* Màu chữ cho nghệ sĩ */  
    font-size: 0.9em; /* Kích thước chữ nghệ sĩ */  
  }  